.avatar {
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 500px;
    background: rgb(255, 244, 244);
    border: 1px solid rgb(216, 97, 97);
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 30px;

    padding: 10px 0;
}

.description {
    text-align: center;
}

.name {
    font-size: 40px;
}

.tag,
.location {
    font-size: 20px;
    color: rgb(131, 126, 126);
}

.stats {
    display: flex;
    gap: 40px;
}

.stats li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.label {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.label {
    color: rgb(131, 122, 122);
    font-size: 20px;
}